doctype html
html(lang="en")
  head
    title= title
  body
    h1= message

    a(href='google.com') Google
    |
    |
    - let auth = true 
    p(style="color: blue") #{auth ? 'Authenticated' : 'Not Authenticated'}

    - let friends = 10
    case friends 
      when 0
        p You have no friends
      when 1
        p You have 1 friend
      default
        p You have #{friends} friends
